---
---

@import "{{ site.theme }}";


#container > div
{
    display: inline-block;
    border: solid 0px #000;
}
#container
{
    border: solid 0px #ff0000;
    text-align: right;
    margin: 0px auto;
    width: 40%;
}
